@import url(global.css);
@import url(formulare.css);

@media (min-width: 350px) {
    form {
        width: 300px;
    }
}

@media (min-width: 768px) {
    form {
        width: 600px;
    }
}


@media (min-width: 500px) {
    .buttons {
        flex-direction: row;
        justify-content: center;
    }

}
