@import "global.css";

.sculpture-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

@media (min-width: 650px) {
    .sculpture-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .sculpture-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.sculpture-card {
    overflow: hidden;
    background: var(--secondary-bg-color);
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    margin: 2rem;
}

.sculpture-card img {
    max-width: 80%;
    max-height: 200px;
    transition: all 0.3s;
    border-radius: 10px;
}

.sculpture-card a:hover{
    transform: scale(1.1);
}

.card-title {
    color: var(--main-text-color);
    font-weight: bold;
    font-size: large;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
