@import "global.css";

.user-list {
    display: grid;
    grid-template-columns: 1fr;
    padding-inline-start: 0;
}

@media (min-width: 660px) {
    .user-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .user-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.user-details {
    display: grid;
    background-color: var(--secondary-bg-color);
    width: 90%;
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-radius: 8px;
    margin: 1rem;
    padding-inline-start: 0;

}

.user-email {
    grid-column: 1 / span 2;
    grid-row: 1;
    margin: 0.2rem 0.4rem 0.2rem 0.4rem;
    padding: 0.5rem;
    background-color: var(--alt-bg-color);
    border-radius: 8px;
    color: var(--main-text-color);
    font-weight: bolder;
    text-align: center;
    width: 80%;
    align-content: center;
    justify-self: center;
}


.buttons {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / span 2;
    grid-row: 2;
    margin-bottom: 0.5rem;
    justify-content: space-evenly;
}

.button {
    margin: 0.2rem;
}

.user-content {
    grid-column: 1 / span 2;
    grid-row: 3;
}
.user-content a:hover {
    border-radius: 8px;
    padding: 0.2rem;
    background-color: var(--alt-bg-color);
}