@import url(global.css);

.legal-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.legal-item h2 {
    margin-left: 1rem;
    text-align: center;
}

.legal-info {
    color: var(--main-text-color);
    margin: 1rem;
    padding: 0.8rem;
    background-color: var(--secondary-bg-color);
    border-radius: 8px;
}